* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

/* Navbar Section */
.navbar {
    box-shadow: 0 15px 40px -20px rgb(40 44 63 / 15%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #fff;
    z-index: 1000;
    padding: 0px 20px;
}

.navbar .nav {
    max-width: 1200px;
    /* min-width: 1200px; */
    position: relative; /*it is going to change its position relativ there parent */
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.nav .nav-left {
    display: flex;
    align-items: center;
}

.nav .nav-left .logo {
    display: block;
    height: 49px;
    margin-right: 16px;
    transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-left .logo:hover {
    transform: scale(1.1);
}

.navbar .loction-div {
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 30px;
    height: 30px;
    cursor: pointer;
    margin-bottom: -1px;
    padding-right: 10px;
    font-size: 15px;
}

.loction-div .other {
    font-weight: 700;
    color: #3d4152;
    float: left;
    padding-bottom: 2px;
    border-bottom: 2px solid #3d4152;
}

.loction-div .other:hover {
    color: #fc8019;
    border-bottom: 2px solid #fc8019;
}

.loction-div .location {
    display: block;
    font-weight: 300;
    padding-left: 5px;
    margin-left: 5px;
    color: #686b78;
}

.loction-div .arrow-down {
    position: absolute;
    top: 50%;
    right: -6%;
    transform: translateY(-50%);
    font-size: 15px;
    color: #fc8019;
    font-weight: 700;
}

.loction-div .nav-right {
    position: relative;
}

.nav-right .items {
    display: flex;
    align-items: center;
}

.nav-right li {
    list-style-type: none;
    margin-left: 36px;
    color: #3d4152;
    font-size: 16px;
    font-weight: 500;
}

.items .nav-item{
    display: flex;
    align-items: center;
    padding-left: 25px;
    position: relative;
    height: 80px;
    cursor: pointer;
}

.items .nav-item a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #3d4152;
    font-size: 16px;
    font-weight: 400;
}

.items .nav-item a:hover{
    color: #fc8019;
}

.nav-item a span{
    padding-left: 10px;
}

/* Content Section */
.content-section{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 42px;
    position: relative;
    margin-top: 80px;
    left: 14px;
}

.content-section .item-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
}

.item-bar .number{
    font-weight: 700;
    font-size: 28px;
    color: #3d4152;
}

.item-bar .filters{
    display: flex;
    align-items: center;
    font-weight: 300;
    color: #686b78;
    font-size: 16px;
    cursor: pointer;
    gap: 35px;
}

.restaurant-list{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin-bottom: 85px;
    margin-top: 60px;
}

.restaurant-list .place-link{
    text-decoration: none;
    background: #fff;
    color: #3d4152;
}

.restaurant-list .list-item{
    padding: 25px;
    border: 1px solid #fff;
}

.restaurant-list .list-item:hover{
    border: 1px solid #d3d5df;
    box-shadow: 0px 4px 7px 0px rgb(218 220 230 / 60%);
}

.item-content .top-img{
    background: #eef0f5;
    width: 254px;
    height: 160px;
}

.top-img img{
    opacity: 0.9;
}

.item-content{
    position: relative;
}

.status{
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    background: rgb(58, 60, 65);
    padding: 5px 9px 4px;
    text-transform: uppercase;
    border-color: rgb(30, 32, 35) transparent;
    position: absolute;
    top: 0px;
    left: -8px;
}

.status::before{
    position: absolute;
    bottom: -9px;
    border-width: 9px 0 0 9px;
    border-color: inherit;
    border-style: solid;
    content: '';
    left: 0;
}

.place-name{
    font-size: 17px;
    font-weight: 500;
    word-break: break-word;  /*bring the text next line*/
}

.place-name .food-items{
    color: #686b78;
    font-size: 13px;
    margin-top: 4px;
    font-weight: 300;
}

.info-div {
    display: flex;
    align-items: center;
    margin-top: 18px;
    font-size: 12px;
    justify-content: space-between;
    color: #535665;
    font-weight: 300;
}

.info-div .rating{
    background-color: #fc8019;
    color: #fff;
    height: 20px;
    width: 36px;
    padding: 0 5px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.icon-star{
    font-size: 10px;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.offer-div .icon-offer-filled{
    font-size: 16px;
    width: 20px;
    height: 16px;
    margin-right: 1.2px;
}

.offer-div {
    border-top: 1px solid #e9e9eb;
    padding-top: 14px;
    margin-top: 14px;
    color: #8a584b;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.offer-text .fa-tags{
    margin-right: 2px;
}

.place .quick-view{
    visibility: hidden;
    font-size: 13px;
    border-top: 1px solid #e9e9ed;
    padding-top: 14px;
    text-align: center;
    margin-top: 14px;
}

.place:hover .quick-view{
    visibility: visible;
}

.quick-view .view-btn{
    color: #5d8ed5;
    text-transform: uppercase;
    font-weight: 600;
}

/* Footer Section */
 .footer{
    padding: 0 20px;
    background-color: #000;
    height: 550px;
    width: 100%;
    z-index: 10;
 }

.footer-content{
    display: flex;
    justify-content: space-around;
    /* background-color: #000000; */
    margin: 0 auto;
    padding: 75px 0;
    max-width: 1200px;
    min-width: 1200px;
}

.points{
    color: #9e9d9d;
    font-size: 15px;
    font-weight: 600;
    width: 300px;
    margin: 26px 0px 10px 15px;
  }

.f-ul{
   display: flex;
   flex-direction: column;
   list-style-type: none;
}

.f-li{
    padding: 20px 10px 2px 0px;
}

.f-li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.f-li a:hover{
    color: #dfc5c5;
    font-weight: 600;
}

.points img{
    border: 2px solid #808080;
    border-radius: 8px;
    padding: 10px;
    margin: 30px 0px 10px 55px;
    transition: transform 0.4s;
}

.points img:hover {
    transform: scale(1.06);
    cursor: pointer;
  }


/* Media Query */
/* Tablet View */
@media only screen and (max-width:768px){
    *{
        margin: 0;
        padding: 0;
    }
    .navbar{
        height: 130px;
        width: 750px;
    }
    .navbar .nav{
        display: flex;
        flex-direction: column;
        position: fixed;
        height: 130px;
        width: 750px;
        background-color: #000;
    }

    .nav .nav-left{
       margin-left: 190px;
       margin-top: 8px;
       align-items: center;
    }
    .navbar .loction-div{
        flex-direction: row;
        align-items: center;
        margin-left: 5px;
    }
    .nav-right li {
        font-size: 10px;
        margin: auto;
    }
    /* Content Section */
    .content-section{
        justify-content: space-between;
        margin-top: 130px;
        height: 300px;
        width: 750px;
    }
    .content-section .item-bar{
        border-bottom: 1px solid #ddd;
        padding-bottom: 8px;
        width: 750px;
    }
    .item-bar .number{
        font-size: 20px;
        padding-right: 10px;
    }
    .item-bar .filters{
        font-size: 15px;
        padding-left: 4px;
    }
    .restaurant-list{
        width: 750px;
        display: grid;
        grid-template-columns: repeat(2, 40%);
        margin-bottom: 85px;
        margin-top: 60px;
        margin-left: 60px;
    }
    .restaurant-list .place-link{
        align-items: center;
    }

    /* Footer Section */
    .footer{
        width: 750px;
        height: 1400px;
        margin-top: 1500px;
    }
    .footer-content{
        flex-direction: column;
    }
    .points{
      text-align: center;
      margin-left: 240px;
    }
    .f-ul{
        padding-bottom: 10px;
    }
    .points img{
        margin-left: 10px;
    }
}

/* Mobile View */
@media only screen and (max-width:480px){
    /* navbar */
    .navbar{
        height: 200px;
        width: 460px;
    }
    .navbar .nav{
        display: flex;
        flex-direction: column;
        position: fixed;
        height: 200px;
        width: 460px;
    }

    .nav .nav-left{
        flex-direction: column;
    }
    .nav .nav-left .logo{
        margin: 8px;
    }
    .navbar .loction-div{
        flex-direction: row;
        align-items: center;
        margin: auto;
    }
    .nav-right li {
        font-size: 15px;
        margin: auto;
        padding: 0;
    }
    /* Content Section */
    .content-section{
        margin-top: 200px;
        height: 300px;
        width: 480px;
    }
    .content-section .item-bar{
        flex-direction: column;
        border-bottom: 1px solid #ddd;
        padding-bottom: 8px;
        width: 460px;
    }
    .item-bar .number{
        font-size: 20px;
        padding-bottom: 8px;
    }
    .item-bar .filters{
        flex-direction: column;
        text-align: center;
    }
    .restaurant-list{
        display: grid;
        grid-template-columns: repeat(1, 65%);
        margin-bottom: 85px;
        margin-top: 60px;
        width: 460px;
        margin-left: 68px;
    }
    .restaurant-list .place-link{
        align-items: center;
    }

    /* Footer Section */
    .footer{
        width: 460px;
        height: 1300px;
        margin-top: 3400px;
    }
    .footer-content{
        flex-direction: column;
        text-align: center;
    }
    .points{
        padding-left: 60px;
    }
    .f-ul{
        padding-bottom: 10px;
    }
    .points img{
        margin-left: 10px;
    }
}




